<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
  </head>
  <body>
    <h1>'The OOF Situation'</h1>
    <p>We are waiting for the line to die down. We see a mysterious self driving Google car come by. You see a shadow appeared in the car.</p>
    <p>The door opens to the car . . .</p>
    <ul>
      <li><a href= "/run">Call 911</a></li>
      <li><a href= "/run">Take a pic</a></li>
      <li><a href= "/run"</a>Hop in</li>
      <li><a href= "/run"</a>Run away</li>
    </ul>
</body>
</html>
