<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet"
    href = "stylesheets/stylez.css" />
    <title>MadLibs</title>
  </head>
  <body>
    <h1><strong>Mad Libs</strong></h1>
    <form method="POST" action="/">
      Name of a Place:
      <input type="text" name="planetname"/>
      <br>
      Name of someone in the class:
      <input type="text" name="classmate"/>
      <br>
      Activity:
      <input type="text" name="activity"/>
      <br>
      Noun:
      <input type="text" name="noun"/>
      <br>
      Noun:
      <input type="text" name="noun"/>
      <br>
      Name of Hero:
      <input type="text" name="hero"/>
      <br>
      Verb:
      <input type="text" name="verb"/>
      <br>
      <input type="submit" name="submit" value="Generate story"/>
      <br>
    </body>
</html>
