<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet"
    href = "stylesheets/stylez.css" />
    <title>Story</title>
  </head>
  <body>
    <h1><strong>Mad Libs</strong></h1>

    <p>A long time a go, on planet <strong>{{planetname}}</strong>, <strong>{{name}}</strong> was by himself walking down a street. He looked up in the sky and saw flying <strong>{{noun}}</strong> attacking the city.
    His friends and peers were fleeing away at that single moment. Then one moment later <strong>{{hero}}</strong> came out and took them down. Everyone was <strong>{{verb}}</strong> in joy. The <strong>{{hero}}</strong>
    came down and showed himself. He concluded by singing Kanye Wests' part in Lift Yourself.</p>
    </body>
</html>
