<!DOCTYPE html>

<html lang="en">
  <head>
    <title>MEME page</title>

    <link rel="icon" href="http://clipart-library.com/img/1611563.png"> -->
<
    <link rel="stylesheet"
      href="stylesheets/style.css">
    <style>
      body {background-color: black;}
      h1   {color: cyan;}
      h2    {color: blue;}
      p    {color: red;}
      h3    {color: lime;}
      li    {color: lightgray;}
    </style>
  </head>
  <body>
    <h1> THE MEME PAGE </h1>

    <a href="https://www.google.com"> Visit Google </a>
    <br>
    <br>
    <img
        src="https://media.giphy.com/media/MDXomrcGshGso/giphy.gif"
        alt="Shrek logo">
    </img>

    <img
    src="https://media0.giphy.com/media/Qa5dsjQjlCqOY/giphy.gif?cid=790b76115d2cd4ca5548304f4503b17e&rid=giphy.gif"
    alt="Shrek Logo">
    </img>

    <img
    src="https://media.giphy.com/media/z0tbFpl7UBF0A/giphy.gif"
    alt="Shrek Logo">



<iframe src="https://giphy.com/embed/Jb56O0QSZRopG" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pizza-rolls-Jb56O0QSZRopG"></a></p>
<br>
<iframe src="https://giphy.com/embed/GqtNlBsWoEXDy" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/GqtNlBsWoEXDy"></a></p>
<br>
<iframe src="https://giphy.com/embed/pyQV6sy5qOALu" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/shrek-pyQV6sy5qOALu"></a></p>
<br>
<iframe src="https://giphy.com/embed/MnYzlOLEs1YDC" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/shrek-MnYzlOLEs1YDC"></a></p>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Uo2SNtFofWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <!-- <table>
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
        </tr>
        <tr>
            <td>John</td>
            <td>Cena</td>
        </tr>
        </tbody>
    </table> -->

<iframe width="560" height="315" src="https://www.youtube.com/embed/OEhkojzVoXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="/"> Home Page</a>

  </body>



</html>
