<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet"
    href="/stylesheets/style.css">
    <title>OG Blog</title>
    <link rel="icon" href="http://clipart-library.com/img/1611563.png">
    <!-- <style>
    body {background-image: url("https://i.imgur.com/0yJXqHE.gif");;}
    h1   {color: cyan;}
    h2    {color: blue;}
    p    {color: red;}
    h3    {color: lime;}
    li    {color: lightgray;}
    </style> -->

  </head>

  <body>
    <h1 id="header"><strong>SAM'S BLOG</strong></h1>

      <h2 id="subheader">All About Me</h2>

      <img id="HEADING"
      src="https://i.kym-cdn.com/photos/images/original/001/372/473/74c.jpg"
      alt="">

      <!-- This is the paragraph of about me-->

      <p> I am from Santa Ana, California. I love to be in the outdoors and have fun. I will be attending California State University, Fullerton in the fall. </p>
      <br>
      <br>
      <h3 id="title"> Top Things I like to do for fun</h3>
      <ul>
        <li>Play Sports</li>
        <li>Watch <strong> The Office </strong></li>
        <li>Spend time in the outdoors</li>
        <li>Travel</li>
        <li>Help with lighting</li>
      </ul>
      <a href="about_fun copy.html"> About Page</a>
</body>
</html>
